@page "/calculator"
@using System.Runtime.CompilerServices
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<h1>Калькулятор</h1>
<br>
<a href="/electricity">Стоимость электричества по региону</a>
<br>
<a href="/tariffs">Тарифы регионов</a>
