@page "/calculator"
@using System.Runtime.CompilerServices
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<h1>Simple test Calculator</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">1</button>
<button class="btn btn-primary" @onclick="IncrementCount">2</button>
<button class="btn btn-primary" @onclick="IncrementCount">3</button>

<h1>CALCULATE A SQUARE auto</h1>

<p>Enter a number</p>
<InputNumber @bind-Value="number" />
<br /><br />


<p>Результат: @result</p>

@code {
    private int currentCount = 0;
    private int number;
   

    
   private int result => number * number;
    
    private void IncrementCount()
    {
        currentCount++;
    }
}



