@page "/"

<PageTitle>Home</PageTitle>

<h1>J</h1>

<div class="topnav">
  <a class="active" href="#home">Главная</a>
  <a href="#news">Новости</a>
  <a href="#contact">Контакт</a>
  <a href="#about">О Нас</a>
</div>

Welcome to your new app.
