@page "/tariffs"
@using Blazor.Models
@using Blazor.Data
@rendermode InteractiveServer
@inject AppDbContext Db

<h3>Тарифы по регионам (из БД)</h3>

<table class="table">
    <thead>
        <tr>
            <th>Регион</th>
            <th>Тариф (руб/кВт)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Tariffs)
        {
            <tr>
                <td>@t.Region</td>
                <td>@t.Price</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Tariff> Tariffs = new();

    protected override void OnInitialized()
    {
        Tariffs = Db.Tariffs.ToList();
    }
}
