@page "/electricity"
@rendermode InteractiveServer

<PageTitle>Electricity Calculator</PageTitle>
<h3>Расчёт стоимости электроэнергии</h3>

<p>Выберите регион:</p>
<select @bind="region">
  <option value="Moscow">Moscow</option>
  <option value="St.Peterburg">St.Peterburg</option>
  <option value="Obninsk">Obninsk</option>
</select>
<p>Тариф для региона: @Tariff руб./кВт</p>
<br>

<p>Введите кол-во кВт:</p>
<InputNumber @bind-Value="kwh" TValue="decimal" />

<br>

<p>Итоговая стоимость: @TotalCost.ToString("0.00") руб.</p>

@code {
    private string region = "Obninsk";
    private decimal kwh;

    private decimal Tariff => region switch
    {
        "Moscow" => 5.50m,
        "St.Peterburg" => 4.80m,
        "Obninsk" => 4.20m,
        _ => 5.00m
    };
    private decimal TotalCost => Tariff * kwh;
    
}
